body {
  font-family: Kantumruy Pro;
}
.display-1 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 3.6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.5rem;
}
.display-4 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.125rem;
}
.display-7 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.36rem;
    font-size: calc( 1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #d91717 !important;
}
.bg-success {
  background-color: #eff0ff !important;
}
.bg-info {
  background-color: #0000ff !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary {
  border: 5px solid #d1d1f7 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #d91717 !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #d91717 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d91717 !important;
  border-color: #d91717 !important;
}
.btn-primary:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-secondary {
  border: 5px solid #d1d1f7 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
  color: #1e1eab !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #1e1eab !important;
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #1e1eab !important;
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
}
.btn-secondary:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-info {
  border: 5px solid #d1d1f7 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0000ff !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0000ff !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0000ff !important;
  border-color: #0000ff !important;
}
.btn-info:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-success {
  border: 5px solid #d1d1f7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #eff0ff !important;
  border-color: #d1d1f7 !important;
  color: #000fef !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000fef !important;
  background-color: #eff0ff !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000fef !important;
  background-color: #eff0ff !important;
  border-color: #eff0ff !important;
}
.btn-success:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-warning {
  border: 5px solid #d1d1f7 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #d1d1f7 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-warning:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-danger {
  border: 5px solid #d1d1f7 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-white {
  border: 5px solid #d1d1f7 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #d1d1f7 !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-white:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-black {
  border: 5px solid #d1d1f7 !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d91717;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #8b0f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #d91717 !important;
  border-color: #d91717 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d1d1f7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #8787ea !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #1e1eab !important;
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0000ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0000a8 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0000ff !important;
  border-color: #0000ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #eff0ff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #989fff !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000fef !important;
  background-color: #eff0ff !important;
  border-color: #eff0ff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #d91717 !important;
}
.text-secondary {
  color: #d1d1f7 !important;
}
.text-success {
  color: #eff0ff !important;
}
.text-info {
  color: #0000ff !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7d0d0d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #7a7ae8 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #8990ff !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000099 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #d91717;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0000ff;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #d91717;
  border-color: #d91717;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #d91717;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f9c3c3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ccccff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #d91717 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #d91717;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #d91717;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #d91717;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #d91717;
  border-bottom-color: #d91717;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #d91717 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d1d1f7 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23d91717' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tHFs58TVmD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/limpias-272-512x512.jpg");
}
.cid-tHFs58TVmD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFs58TVmD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFs58TVmD .btn {
  padding: 1.5rem 5rem;
  border: 0 !important;
}
@media (max-width: 767px) {
  .cid-tHFs58TVmD .btn {
    padding: 1.5rem 3rem;
  }
}
.cid-tHFs58TVmD .row {
  align-items: center;
}
.cid-tHFs58TVmD img {
  border-radius: 2rem;
}
.cid-tHFs58TVmD .image-wrapper {
  background: #d91717;
  padding: 4rem 5rem;
  border-radius: 2rem;
}
@media (max-width: 991px) {
  .cid-tHFs58TVmD .image-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tHFs58TVmD .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFs58TVmD .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tHFs58TVmD .mbr-section-title {
  color: #d91717;
}
.cid-tHFs58TVmD .mbr-text,
.cid-tHFs58TVmD .mbr-section-btn {
  color: #e3f3ff;
}
.cid-tHFs59nDk3 {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tHFs59nDk3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFs59nDk3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFs59nDk3 .mbr-text {
  color: #726c89;
}
.cid-tHFs59nDk3 .mbr-section-title {
  color: #000000;
}
.cid-tHFs59nDk3 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHFs59HtnV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/limpias-264-512x512.jpg");
}
.cid-tHFs59HtnV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFs59HtnV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFs59HtnV ul {
  list-style: none;
}
.cid-tHFs59HtnV li {
  padding-bottom: 0.5rem;
}
.cid-tHFs59HtnV ul li::before {
  content: "\2022";
  color: #d91717;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1rem;
}
.cid-tHFs59HtnV .list-group-item {
  color: #ff6666;
}
.cid-tHFs59HtnV .plan-body {
  padding-bottom: 2rem;
}
.cid-tHFs59HtnV .card1 {
  background: #111019;
}
@media (min-width: 767px) {
  .cid-tHFs59HtnV .card1 {
    transform: translateX(2rem);
  }
}
.cid-tHFs59HtnV .card2 {
  background: #ffffff;
}
@media (min-width: 767px) {
  .cid-tHFs59HtnV .card2 {
    transform: translateX(-2rem);
  }
}
.cid-tHFs59HtnV .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tHFs59HtnV .price {
  color: #d91717;
}
.cid-tHFs59HtnV .plan {
  word-break: break-word;
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 20px 0 lightgray;
}
.cid-tHFs59HtnV .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
@media (max-width: 992px) {
  .cid-tHFs59HtnV .plan {
    padding: 1rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tHFs59HtnV .plan {
    margin-bottom: 2rem;
  }
}
.cid-tHFs59HtnV .mbr-text UL {
  text-align: left;
}
.cid-tHFs59HtnV .mbr-text {
  color: #ffffff;
}
.cid-tHFs59HtnV .price-term {
  color: #bbbbbb;
}
.cid-tHFs59HtnV .title {
  color: #1b224b;
}
.cid-tHFs59HtnV .plan-title {
  color: #d91717;
}
.cid-tHFs5a11Rd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHFs5a11Rd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFs5a11Rd img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHFs5a11Rd img {
    margin-top: 2rem;
  }
}
.cid-tHFs5a11Rd .row {
  background: #111019;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHFs5a11Rd .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHFs5a11Rd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFs5a11Rd .mbr-text,
.cid-tHFs5a11Rd .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFs5a11Rd .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHFs5a11Rd .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHFs5ahb8O {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/limpias-279-512x512.jpg");
}
.cid-tHFs5ahb8O .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFs5ahb8O .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFs5ahb8O .row {
  align-items: center;
}
.cid-tHFs5ahb8O img {
  border-radius: 2rem;
}
@media (min-width: 992px) {
  .cid-tHFs5ahb8O .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tHFs5ahb8O .mbr-section-title {
  color: #d91717;
}
.cid-tHFs5ahb8O .mbr-text,
.cid-tHFs5ahb8O .mbr-section-btn {
  color: #ffffff;
}
.cid-tHFs5azue8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHFs5azue8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFs5azue8 img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHFs5azue8 img {
    margin-top: 2rem;
  }
}
.cid-tHFs5azue8 .row {
  background: #111019;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHFs5azue8 .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHFs5azue8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFs5azue8 .mbr-text,
.cid-tHFs5azue8 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFs5azue8 .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHFs5azue8 .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHFoBwAJwS {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/pactos-118-512x512.jpg");
}
.cid-tHFoBwAJwS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFoBwAJwS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFoBwAJwS .btn {
  padding: 1.5rem 5rem;
  border: 0 !important;
}
@media (max-width: 767px) {
  .cid-tHFoBwAJwS .btn {
    padding: 1.5rem 3rem;
  }
}
.cid-tHFoBwAJwS .row {
  align-items: center;
}
.cid-tHFoBwAJwS img {
  border-radius: 2rem;
}
.cid-tHFoBwAJwS .image-wrapper {
  background: #d91717;
  padding: 4rem 5rem;
  border-radius: 2rem;
}
@media (max-width: 991px) {
  .cid-tHFoBwAJwS .image-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tHFoBwAJwS .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFoBwAJwS .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tHFoBwAJwS .mbr-section-title {
  color: #d91717;
}
.cid-tHFoBwAJwS .mbr-text,
.cid-tHFoBwAJwS .mbr-section-btn {
  color: #e3f3ff;
}
.cid-tHFoBx40jN {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tHFoBx40jN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFoBx40jN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFoBx40jN .mbr-text {
  color: #726c89;
}
.cid-tHFoBx40jN .mbr-section-title {
  color: #000000;
}
.cid-tHFoBx40jN .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHFoBxqhOW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pactos-41-512x512.jpg");
}
.cid-tHFoBxqhOW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFoBxqhOW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFoBxqhOW ul {
  list-style: none;
}
.cid-tHFoBxqhOW li {
  padding-bottom: 0.5rem;
}
.cid-tHFoBxqhOW ul li::before {
  content: "\2022";
  color: #d91717;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1rem;
}
.cid-tHFoBxqhOW .list-group-item {
  color: #ff6666;
}
.cid-tHFoBxqhOW .plan-body {
  padding-bottom: 2rem;
}
.cid-tHFoBxqhOW .card1 {
  background: #111019;
}
@media (min-width: 767px) {
  .cid-tHFoBxqhOW .card1 {
    transform: translateX(2rem);
  }
}
.cid-tHFoBxqhOW .card2 {
  background: #ffffff;
}
@media (min-width: 767px) {
  .cid-tHFoBxqhOW .card2 {
    transform: translateX(-2rem);
  }
}
.cid-tHFoBxqhOW .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tHFoBxqhOW .price {
  color: #d91717;
}
.cid-tHFoBxqhOW .plan {
  word-break: break-word;
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 20px 0 lightgray;
}
.cid-tHFoBxqhOW .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
@media (max-width: 992px) {
  .cid-tHFoBxqhOW .plan {
    padding: 1rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tHFoBxqhOW .plan {
    margin-bottom: 2rem;
  }
}
.cid-tHFoBxqhOW .mbr-text UL {
  text-align: left;
}
.cid-tHFoBxqhOW .mbr-text {
  color: #ffffff;
}
.cid-tHFoBxqhOW .price-term {
  color: #bbbbbb;
}
.cid-tHFoBxqhOW .title {
  color: #1b224b;
}
.cid-tHFoBxqhOW .plan-title {
  color: #d91717;
}
.cid-tHFoBxJGfY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHFoBxJGfY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFoBxJGfY img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHFoBxJGfY img {
    margin-top: 2rem;
  }
}
.cid-tHFoBxJGfY .row {
  background: #111019;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHFoBxJGfY .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHFoBxJGfY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFoBxJGfY .mbr-text,
.cid-tHFoBxJGfY .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFoBxJGfY .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHFoBxJGfY .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHFoBy0X00 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/pactos-196-480x600.jpg");
}
.cid-tHFoBy0X00 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFoBy0X00 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFoBy0X00 .row {
  align-items: center;
}
.cid-tHFoBy0X00 img {
  border-radius: 2rem;
}
@media (min-width: 992px) {
  .cid-tHFoBy0X00 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tHFoBy0X00 .mbr-section-title {
  color: #d91717;
}
.cid-tHFoBy0X00 .mbr-text,
.cid-tHFoBy0X00 .mbr-section-btn {
  color: #ffffff;
}
.cid-tHFoByhKn7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHFoByhKn7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFoByhKn7 img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHFoByhKn7 img {
    margin-top: 2rem;
  }
}
.cid-tHFoByhKn7 .row {
  background: #111019;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHFoByhKn7 .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHFoByhKn7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFoByhKn7 .mbr-text,
.cid-tHFoByhKn7 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFoByhKn7 .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHFoByhKn7 .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tjQDC0fgGE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parejas-3-512x512.jpg");
}
.cid-tjQDC0fgGE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tjQDC0fgGE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tjQDC0fgGE .btn {
  padding: 1.5rem 5rem;
  border: 0 !important;
}
@media (max-width: 767px) {
  .cid-tjQDC0fgGE .btn {
    padding: 1.5rem 3rem;
  }
}
.cid-tjQDC0fgGE .row {
  align-items: center;
}
.cid-tjQDC0fgGE img {
  border-radius: 2rem;
}
.cid-tjQDC0fgGE .image-wrapper {
  background: #d91717;
  padding: 4rem 5rem;
  border-radius: 2rem;
}
@media (max-width: 991px) {
  .cid-tjQDC0fgGE .image-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tjQDC0fgGE .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tjQDC0fgGE .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tjQDC0fgGE .mbr-section-title {
  color: #d91717;
}
.cid-tjQDC0fgGE .mbr-text,
.cid-tjQDC0fgGE .mbr-section-btn {
  color: #e3f3ff;
}
.cid-tjRuN2Wm8v {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tjRuN2Wm8v .mbr-fallback-image.disabled {
  display: none;
}
.cid-tjRuN2Wm8v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tjRuN2Wm8v .mbr-text {
  color: #726c89;
}
.cid-tjRuN2Wm8v .mbr-section-title {
  color: #000000;
}
.cid-tjRuN2Wm8v .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tjRuQo193e {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/amor-19-512x512.jpg");
}
.cid-tjRuQo193e .mbr-fallback-image.disabled {
  display: none;
}
.cid-tjRuQo193e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tjRuQo193e ul {
  list-style: none;
}
.cid-tjRuQo193e li {
  padding-bottom: 0.5rem;
}
.cid-tjRuQo193e ul li::before {
  content: "\2022";
  color: #d91717;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1rem;
}
.cid-tjRuQo193e .list-group-item {
  color: #ff6666;
}
.cid-tjRuQo193e .plan-body {
  padding-bottom: 2rem;
}
.cid-tjRuQo193e .card1 {
  background: #111019;
}
@media (min-width: 767px) {
  .cid-tjRuQo193e .card1 {
    transform: translateX(2rem);
  }
}
.cid-tjRuQo193e .card2 {
  background: #ffffff;
}
@media (min-width: 767px) {
  .cid-tjRuQo193e .card2 {
    transform: translateX(-2rem);
  }
}
.cid-tjRuQo193e .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tjRuQo193e .price {
  color: #d91717;
}
.cid-tjRuQo193e .plan {
  word-break: break-word;
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 20px 0 lightgray;
}
.cid-tjRuQo193e .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
@media (max-width: 992px) {
  .cid-tjRuQo193e .plan {
    padding: 1rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tjRuQo193e .plan {
    margin-bottom: 2rem;
  }
}
.cid-tjRuQo193e .mbr-text UL {
  text-align: left;
}
.cid-tjRuQo193e .mbr-text {
  color: #ffffff;
}
.cid-tjRuQo193e .price-term {
  color: #bbbbbb;
}
.cid-tjRuQo193e .title {
  color: #1b224b;
}
.cid-tjRuQo193e .plan-title {
  color: #d91717;
  text-align: center;
}
.cid-tHFiec6ZAn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHFiec6ZAn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFiec6ZAn img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHFiec6ZAn img {
    margin-top: 2rem;
  }
}
.cid-tHFiec6ZAn .row {
  background: #111019;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHFiec6ZAn .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHFiec6ZAn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFiec6ZAn .mbr-text,
.cid-tHFiec6ZAn .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFiec6ZAn .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHFiec6ZAn .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tjRvM1hRCp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/amor-14-448x672.jpg");
}
.cid-tjRvM1hRCp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tjRvM1hRCp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tjRvM1hRCp .row {
  align-items: center;
}
.cid-tjRvM1hRCp img {
  border-radius: 2rem;
}
@media (min-width: 992px) {
  .cid-tjRvM1hRCp .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tjRvM1hRCp .mbr-section-title {
  color: #d91717;
}
.cid-tjRvM1hRCp .mbr-text,
.cid-tjRvM1hRCp .mbr-section-btn {
  color: #ffffff;
}
.cid-tHFmblpsCd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHFmblpsCd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFmblpsCd img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHFmblpsCd img {
    margin-top: 2rem;
  }
}
.cid-tHFmblpsCd .row {
  background: #111019;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHFmblpsCd .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHFmblpsCd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFmblpsCd .mbr-text,
.cid-tHFmblpsCd .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFmblpsCd .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHFmblpsCd .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHFFDtDdMA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
